.page {
    width: 100%;
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr;


    .site-header {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }


}

